template(name="index")
  
  div.container
    +header
    
    div.container
        img.img-responsive(src="head.png")
        div.col-xs-2.text-center  
          h2.hate-center Feature book
        div.col-xs-10  
          img(src="mag1.jpg", width="140")  
          img(src="mag2.jpg", width="140")
          img(src="mag3.jpg", width="140")
          img(src="mag4.jpg", width="140")  
          img(src="mag5.jpg", width="140")
        
        div.col-xs-8    
          h2 NEW RELEASE
          hr
          div.col-xs-4
            +bookItem
                
          div.col-xs-4
            +bookItem
                
          div.col-xs-4
            +bookItem
            
          div.col-xs-4
            +bookItem
                  
          div.col-xs-4
            +bookItem
                  
          div.col-xs-4
            +bookItem
            
          div.col-xs-4
            +bookItem
                  
          div.col-xs-4
            +bookItem
                  
          div.col-xs-4
            +bookItem
            
        div.col-xs-4   
          h2 TOP
          hr
            
          div.col-xs-3
            h1 1
          div.col-xs-9
            p No 9
            a(href="#") Business
            hr  
            
          div.col-xs-3
            h1 2
          div.col-xs-9
            p No 9
            a(href="#") Business
            hr
              
          div.col-xs-3
            h1 3
          div.col-xs-9
            p No 9
            a(href="#") Business
            hr
            
          div.col-xs-3
            h1 4
          div.col-xs-9
            p No 9
            a(href="#") Business
            hr
              
          div.col-xs-3
            h1 5
          div.col-xs-9
            p No 9
            a(href="#") Business
            hr
