template(name="profileSide")
  

  img.center(src="profile.jpg", width="100px", position="absolute")
  
  p.text-center: a(href="#") eiei

  hr
  p: a(href="#") Book
  hr
  p: a(href="#") Magazine
  hr
  p: a(href="#") Settings
